
<div class="logo"><img class="center" src="../img/medium_logo.png" alt="Twidder Logo" /></div>
<h2>classic eras in the digital error</h2>

<h3>searched for: <%= @error %></h3>

<div class="tweet" align="center">
	<blockquote class="twitter-tweet" lang="en">
		<p><%= @this_tweet %></p>
		<a href=<%= @this_url %>>link</a>
	</blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<p class="refresh"><a href="/" class="btn btn-primary btn-large">more</a></p>