<div id="title">
	<h2>Twidder</h2>
	<h3>Classic eras in the digital error</h3>
</div>
<h1><%= @my_tweet %></h1>
<h2><%= @my_url %></h2>
<div id="needmore">
	<h3>
		<div id="hug">
		<a href="/">more</a>
		</div>
	</h3>
</div>