/* my bottom color rgb(71, 93, 106) */
/* my top color rgb(8, 26, 47)*/

@import url(http://fonts.googleapis.com/css?family=Montserrat);

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: .2%;
}
    
H2 { 
  text-align: center;
  font-size: 2.25em; 
  line-height: 1em;
}

H3 { 
  padding-top: 5%;
  text-align: center 
}

P {
  text-align: center;
  font-size: 2.15em;
}

body {
  font-family: 'Montserrat', 'Helvetica', 'Ariel', sans-serif;
  color: #D0D0D0;
/*  background-color: rgb(8, 26, 47);*/
  background-image:url("/img/background.png");
  background-repeat:no-repeat;
  background-color: #4F6D7B;
  /*background-color: rgba(68, 90, 102, .89)*/
}

.search{
  font-weight:bold;
}

.tweet {
    display: block;
    margin: 0 auto;
}

.btn-primary {
  .buttonBackground(#2C5263, #23424F);
}