.color1 {
  color: #6F83DE;
  background-color: #AFEEEE;
}
.color2 {
  color: white;
  background-color: #66CDAA;
}
.color3 {
  color: white;
  background-color: #20B2AA;
}
.color4 {
  color: white;
  background-color: #008080;
}
.color5 {
  color: white;
  background-color: #6A5ACD;
}
.color6 {
  color: white;
  background-color: #48D1CC;
}
.color7 {
  color: white;
  background-color: #D398FB;
}
.color8 {
  color: white;
  background-color: #FF99CC;
}
.color9 {
  color: white;
  background-color: #99CCFF;
}
.color10 {
  color: white;
  background-color: #9999CC;
}
.color11 {
  color: white;
  background-color: #6666CC;
}
.color12 {
  color: white;
  background-color: #33FFCC;
}
.color13 {
  color: white;
  background-color: #33CC99;
}
.color14 {
  color: white;
  background-color: #009933;
}

